{% extends "base.html" %}

{% block content %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ url_for('static', filename='img/hero_image.png') }}" class="d-block mx-lg-auto img-fluid" alt="Imagem Principal" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Tecnologia, Inovação e Soluções Práticas</h1>
        <p class="lead">Explore artigos aprofundados sobre programação, inteligência artificial e utilize ferramentas online gratuitas feitas para simplificar seu dia a dia.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="{{ url_for('blog.blog') }}" class="btn btn-primary btn-lg px-4 me-md-2">Explorar Blog</a>
          <a href="{{ url_for('solutions.solutions_index') }}" class="btn btn-outline-secondary btn-lg px-4">Ver Soluções</a>
        </div>
      </div>
    </div>
</div>

{% if posts %}
<div class="container px-4 py-5" id="featured-posts">
    <h2 class="pb-2 border-bottom">Últimos Artigos do Blog</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for post in posts %}
        <div class="col">
            <div class="card shadow-sm h-100">
                {% if post.imagem %}
                <a href="{{ url_for('blog.post_detail', slug=post.slug) }}">
                    <img src="{{ url_for('static', filename=post.imagem) }}" class="card-img-top" alt="{{ post.titulo }}" style="object-fit: cover; height: 200px;">
                </a>
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ post.titulo }}</h5>
                    <p class="card-text">{{ post.resumo | truncate(100) }}</p>
                    <a href="{{ url_for('blog.post_detail', slug=post.slug) }}" class="btn btn-outline-primary mt-auto">Leia Mais</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if solutions %}
<div class="container px-4 py-5" id="featured-solutions">
    <h2 class="pb-2 border-bottom">Soluções em Destaque</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      {% for slug, solution in solutions.items() %}
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            {{ solution.icon }}
        </div>
        <h3 class="fs-2 text-body-emphasis">{{ solution.name }}</h3>
        <p>{{ solution.description }}</p>
        <a href="{{ url_for('solutions.solution_detail', solution_slug=slug) }}" class="icon-link">
          Acessar ferramenta
        </a>
      </div>
      {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}