{% extends 'base.html' %}
{% block title %}Produtos – Mente Magna{% endblock %}

{% block content %}
<h1>Produtos</h1>
<div class="row">
  {% for i in range(1,4) %}
  <div class="col-md-4 mb-4">
    <div class="card">
      <img src="https://picsum.photos/seed/prod{{i}}/400/300" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Produto Lorem {{i}}</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- Anúncio final de produtos -->
<div class="text-center my-4">
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-XXXXXXXXXXXXXXX" data-ad-slot="7777777777" data-ad-format="auto" data-full-width-responsive="true"></ins>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
{% endblock %}