{% extends 'base.html' %}
{% block title %}Sobre – Mente Magna{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>Sobre Nós</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore.</p>
    <img src="https://picsum.photos/seed/sobre/800/400" class="img-fluid mb-3">
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <aside class="col-md-4">
    <!-- Anúncio Sidebar -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-XXXXXXXXXXXXXXX" data-ad-slot="6666666666" data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </aside>
</div>
{% endblock %}