{% extends 'base.html' %}
{% block title %}Sobre – Mente Magna{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row gx-lg-5">
        <div class="col-lg-8 main-content-column">
            <h1 class="display-5 fw-bold">Sobre Nós</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="https://picsum.photos/seed/sobre/800/400" class="img-fluid rounded shadow-sm mb-4" alt="Imagem sobre a Mente Magna">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>

        {% include '_sidebar.html' %}
    </div>
</div>
{% endblock %}